{% extends 'main/overall_base.html' %}
{% load static %}
{% block title %}REGISTER{% endblock %}
{% block body %}
    <br>
    <strong>Categories:</strong>
    <ul>
        {% for category in categories %}
            <li>
                <strong>{{ category.name }}</strong>
                <ul>
                    {% for subcategory in category.subcategory_set.all %}
                        <li>
                            {{ subcategory.name }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}