{% extends 'main/overall_base.html' %}
{% load static %}
{% block title %}REGISTER{% endblock %}
{% block body %}
    <br>
    <h5>Genres:</h5>
    <ul>
        {% for genre in genres %}
            <li>
                <a href>{{ genre.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h5>Artists:</h5>
    <ul>
        {% for artist in artists %}
            <li>
                {{ artist.user.first_name }} {{ artist.user.last_name }}
            </li>
        {% endfor %}
    </ul>
    <h5>Languages:</h5>
    <ul>
        {% for language in languages %}
            <li>
                {{ language.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}